.navbar {
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fadeInDown 1s ease;
}

.logo {
  font-size: 24px;
  font-weight: bolder;
  color: #333;
  text-transform: uppercase;
  animation: bounceIn 1s ease;
}

.navLinks a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  font-weight: 600;
  margin-left: 20px;
  animation: slideInLeft 1s ease;
}
.main {
    width:99.5%;
    margin: 0 auto; 
    margin-top: -40px;
    margin-bottom: 20px;
  }
  
  .card {
    background-color: #d6cfcfa3;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 2px;
  }
  
  .title {
    padding-left: 25px;
    margin-bottom:15px;
    margin-top: 15px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .description {
    display: none;
    padding: 10px;
  }
  
  .arrow {
    float: right;
    margin-right: 10px;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
  }
  
  .active .arrow {
    transform: rotate(90deg);
  }
  
  .active .description {
    display: block;
  }