.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem;
    background-color: #002f6c;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    font-size: 1.7rem;
    font-weight: bold;
  }
  
  .navLinks {
    display: flex;
    gap: 1.5rem;
  }
  
  .link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
  }
  
  .link:hover {
    border-radius: 4px; /* Rounded corners for softer look */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    background-color: rgb(209, 206, 206);
    color: black;
    padding: 0rem 0.3rem;
  }
.homepageContent{
    background-color: #e7e8ea;
    padding: 2rem;
}

.reportCardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 30px;
    padding: 30px;
    justify-content: center;
}

.reportCard {
    height:auto;
    background-color: white; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: box-shadow 0.3s ease;
}

.reportTitle {
    font-size: 2rem;
    color:#002f6c;
    text-align: center;
}

.reportDescription,
.reportDate,
.reportLocation {
    color:#002f6c;
    text-align: center;
    word-wrap: break-word;
}

.reportImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}
.reportInfo {
    text-align: center;
    background-color: white; /* Slightly lighter background for contrast */
    color: #002f6c;
}

.reportStatus {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.3rem;
    color: #002f6c;
}

.reportButtons {
    display: flex;
    justify-content: center;
    padding-right: 22%;
}

.reportButtons button {
    background-color: #002f6c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem; /* Slightly larger font for readability */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Add scale effect on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.reportButtons button:hover {
    background-color: white;
    color: #002f6c;
    border: #002f6c solid 1px;
}
