.homepageContent{
    padding: 2rem;
    background-color: #e7e8ea;
    height: 90vh;
}
.updateReportContainer {
    max-width: 650px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    color: #002f6c;
    font-size: 2.7rem;
    margin-top: 1px;
    margin-top: 2px;
}

.form {
    display: flex;
    flex-direction: column;
}

.formGroup {
    margin-bottom: 10px;
}

.label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #002f6c;
    font-size: 1.2rem;
}

.input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 01rem;
    width: 95%;
}

.button {
    background-color: #002f6c;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 39%;
    margin-bottom: 1%;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1.3rem;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Add scale effect on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.button:hover {
    background-color: white;
  color: #002f6c;
  border: #002f6c solid 1px;
}
