a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar {
  background-color: #3e87e77b;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
}

.navLinks a {
  text-decoration: none;
  color: #555;
  font-size: 18px;
  font-weight: 500;
  margin-left: 20px;
  transition: color 0.3s ease;
}

.navLinks a:hover {
  color: #007bff;
}
.contact-form {
  max-width: 450px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.contact-form h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 2px;
  color: #333;
  text-align: center;
}

.contact-form p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 1rem;
  text-align: center;
}

.contact-form label {
  display: block;
  font-size: 1.2rem;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.contact-form textarea {
  height: 100px;
}

.contact-form input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form input[type="submit"]:hover {
  background-color: #0056b3;
}

.contact-form p.error {
  color: #ff5733;
  font-size: 1.2rem;
  margin-top: 1rem;
} 