body {
    margin: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem;
    background-color: #002f6c;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    font-size: 1.7rem;
    font-weight: bold;
  }
  
  .navLinks {
    display: flex;
    gap: 1.5rem;
  }
  
  .link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
  }
  
  .link:hover {
    border-radius: 4px; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    background-color: rgb(209, 206, 206);
    color: black;
    padding: 0rem 0.3rem;
  }
  .homepageContent{
    background-color: #f0f0f0;
    padding: 4rem 0;
    text-align: center;
    position: relative;
    height: 70vh;
  }
.heroContent {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}

.heroTitle {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.heroText {
  font-size: 1.25rem;
  line-height: 1.6;
  color: #333;
}

.buttonstart {
  background-color: #002f6c;
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  margin-right: 35%;
  margin-top: 3%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonstart:hover {
  background-color: white;
  color: #002f6c;
  border: #002f6c solid 1px;
}

.footer {
  text-align: center;
  background-color: #002f6ce3; /* Match navbar background */
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}