.registration-form {
    max-width: 400px;
    margin: 30px auto;
    padding: 25px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  
  .registration-form h1 {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 1px;
    font-size: 30px;
  }
  
  .registration-form input[type="text"],
  .registration-form input[type="email"],
  .registration-form input[type="password"],
  .registration-form input[type="number"],
  .registration-form select,
  .registration-form button,
  .registration-form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  .registration-form button {
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .registration-form button:hover {
    background-color: #0660c0ea;
  }
  
  .registration-form input[type="file"] {
    padding: 8px;
  }
  
  .registration-form p {
    text-align: center;
    margin-top: 10px;
    margin-bottom:1px;
    font-size: 18px;
  }
  
  .registration-form p a {
    color: #007bff;
    text-decoration: none;
  }
  
  .registration-form p a:hover {
    text-decoration: underline;
  }
  