.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 35px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  
  .login-container h1 {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 1px;
    font-size: 30px;
  }
  
  .input-container {
    margin-bottom: 20px;
  }
  
  .input-container input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .btn:hover {
    background-color: #0660c0ea;

  }
  
  .error-msg {
    color: #dc3545;
    margin-top: 10px;
  }
  
  .login-container p {
    text-align: center;
    margin-top: 10px;
    margin-bottom:1px;
    font-size: 18px;
  }
  
  .login-container p a {
    color: #007bff;
    text-decoration: none;
  }
  
  .login-container p a:hover {
    text-decoration: underline;
  }
  